body {
  padding: 0;
  margin: 0;
}


dl,
ul {
  list-style: none;
  padding: 0;
}

dl,
dd,
dt {
  margin: 0;
}

p {
  margin: 0;
}

.list-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
}

.list-box .add-ipt {
  width: 600px;
  height: 52px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  padding: 0 1em;
  color: #555;
  margin-bottom: 48px;
}

.todolist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todolist-content dd {
  box-sizing: border-box;
  color: #555;
  font-size: 16px;

  display: flex;
  flex-direction: column;

  border: 1px solid #ddd;

  border-radius: 10px;
  margin-bottom: 16px;
}

.todolist-content dd span {
  padding: 24px 16px;
  border-bottom: #ddd solid 1px;
}

.todolist-content dd:hover {
  background-color: #fbfbfb;
}

.todolist-content dt {
  font-size: 18px;
  padding: 16px;
  font-weight: 700;
}

.todolist-item {
  width: 600px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 48px;
}



.todolist-item div:last-of-type {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todolist-item .footer {
  padding: 12px;
}

.todolist-item a {
  cursor: pointer;
  font-size: 14px;
}

.todolist-item a:hover {
  text-decoration: underline;
}

.del-btn {
  color: #d33;
  margin-left: 8px;
}

.complete-btn {
  color: #2b2;
}

.f-del {
  text-decoration: line-through;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  /* z-index: 1000; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  visibility: hidden;
}

.mask.show {
  visibility: visible;
}

.mask .confirm {
  width: 480px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  opacity: 0;
  transform: scale(.8);
  transition: .2s;
}

.mask.show .confirm {
  opacity: 1;
  transform: scale(1);
}

.mask .confirm strong {
  padding: 12px 24px;
  display: block;
  border-bottom: solid 1px #efefef;
}

.mask .confirm p {
  padding: 18px 24px;

  font-size: 16px;
}

.mask .confirm p:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.mask .confirm button {
  border: none;
  border-radius: 5px;
  padding: 3px 16px;
  font-size: 14px;
  cursor: pointer;
}

.mask .confirm .confirm-btn {
  background-color: #0080ef;
  color: white;
  margin-right: 8px;
}

.tomato-list {
  display: flex;
  width: 100px;
  align-items: center;
}

.tomato-list .tomato {
  display: block;
  height: 12px;
  width: 12px;
  background-image: url("https://cdn.jsdelivr.net/gh/yuanjietong/todolist/img/tomato.png");
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.tomato-list.active .tomato {
  cursor: pointer;
}

.tomato-list.active:has(.tomato:hover) .tomato {
  background-image: url("https://cdn.jsdelivr.net/gh/yuanjietong/todolist/img/tomato-active.png");
}

.tomato-list .tomato.active {
  background-image: url("https://cdn.jsdelivr.net/gh/yuanjietong/todolist/img/tomato-active.png");
}

.tomato-list.active .tomato:hover~.tomato {
  background-image: url("https://cdn.jsdelivr.net/gh/yuanjietong/todolist/img/tomato.png");
}

.tomato-list.active .tomato-first {
  width: 10px;
  margin-left: -10px;
  height: 12px;
  cursor: pointer;
}

.tomato-list.active .tomato-first:hover~.tomato {
  background-image: url("https://cdn.jsdelivr.net/gh/yuanjietong/todolist/img/tomato.png");
}

.tomato-list .edit-btn {
  font-size: 12px;
  margin-left: 6px;
  color: #888;
  text-decoration: none;
}
